.container-fluid {
    padding-top: 4%;
}

.text-center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.our-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 8vh;
}

.profile-card {
    display: inline-block;
    text-align: center;
    padding: 3vh 3vw 5vh 3vw;
    margin: 3vh 2vw;
    border-radius: 10px;
    width: 250px;
    color: #ccd3d9;

    /*formerly #993723*/
    background: #b33e17;
}

.profile-card-image {
    border-radius: 50%;
    z-index: 0;
    width: 110px;
    border: 4px solid #ccd3d9;
    margin-bottom: 15px;
}

.profile-card-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 700px) {
    .container-fluid {
        padding-top: 8%;
    }

    .text-center {
        width: 70%;
    }
}