.contact-form-input {
    padding: 0.6vh;
    color: #2e2727;
    background: #ccd3d9;
    border-radius: 0.5vh;
    font-size: 16px;
    border: 0;
    margin: 1.3vh;
    text-decoration: none;
    width: 300px;
    transition: ease-in-out, width .25s ease-in-out;
}

textarea:focus, input:focus {
    outline: none;
    width: 310px;
}

.contact-send-button {
    margin-top: 4vh;
    transition: ease-in-out, .15s ease-in-out;
}

.contact-send-button:hover {
    width: 310px;
}

.contact-send-button:focus {
    filter: brightness(80%);
}

.contact-message {
    min-height: 20vh;
    max-height: 45vh;
}

.right-text {
    font-size: 20px;
    text-align: right;
}

.left-text {
    font-size: 20px;
    text-align: left;
}

.contact-reasons {
    list-style: square;
    padding-left: 20px;
}

.split {
    height: 80%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.centered-left {
    position: absolute;
    top: 50%;
    left: 81%;
    transform: translate(-50%, -50%);
    width: 35%;
}

.centered-right {
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translate(-50%, -50%);
    width: 100%;
}