.contact-form-input {
    padding: 0.6vh;
    color: #2e2727;
    background: #ccd3d9;
    border-radius: 0.5vh;
    font-size: 18px;
    border: 0;
    margin: 1.2vh;
    text-decoration: none;
    width: 16vw;
    transition: ease-in-out, .25s ease-in-out;
}

textarea:focus, input:focus {
    outline: none;
}

.contact-send-button {
    margin-top: 4vh;
    transition: ease-in-out, .15s ease-in-out;
}

.contact-send-button:hover {
    opacity: 80%;
}

.contact-send-button:focus {
    opacity: 80%;
}

.contact-message {
    min-height: 20vh;
    max-height: 45vh;
}

.right-text {
    font-size: 20px;
    text-align: right;
}

.left-text {
    font-size: 20px;
    text-align: left;
}

.contact-reasons {
    list-style: square;
    padding-left: 20px;
}

.contact-reasons li {
    padding-bottom: 10px;
}

.split {
    width: 100%;
    padding-top: 4%;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right; 
    width: 50%;
}

.centered-left {
    width: 35.5%;
    transform: translate(170%, 0%);
}

.centered-right {
    transform: translate(-10%);
    width: 50%;
}

.grecaptcha-badge {
    opacity: 0;
}

@media only screen and (max-width: 1297px) and (min-width: 992px) {
    .centered-left {
        width: 40%;
        transform: translate(137%, 0%);
    }
    
    .centered-right {
        transform: translate(5%);
        width: 45%;
    }

    .contact-form-input {
        width: 20vw;
    }
}

@media only screen and (max-width: 991px) {
    .left {
        float: none;
        width: 100%;
    }

    .right {
        float: none;
        width: 100%;
    }

    .centered-left {
        width: 70%;
        transform: translate(20%, 0%);
    }
    
    .centered-right {
        transform: translate(1000%);
        width: 1%;
        padding-bottom: 5%;
    }
    
    .contact-form-input {
        width: 75vw;
    }
}