.container-fluid {
    padding-top: 4%;
}

.text-center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 700px) {
    .container-fluid {
        padding-top: 8%;
    }

    .text-center {
        width: 70%;
    }
}