#logo-svg {
    width: 140px;
    margin: 0px 10px;
}

.nav-link {
    font-size: 20px;
    margin-right: 5vw;
    margin-left: 5vw;
    color: #ccd3d9;
}

.nav-link:hover {
    color: #ffffff;
}

@media screen and (min-width: 992px) {
    .navbar-nav {
        justify-content: center;
        padding-right: 160px;
    }
}

.navbar-toggler {
    margin-right: 15px;
}

.navbar {
    /*formerly #d14806*/
    background-color: #b33e17;
}

html body {
    background-color: #2e2727;
}

.light {
    color: #ccd3d9;
}

* {
    font-family: brandon-grotesque, sans-serif;
}