.navbar-brand {
    width: 0
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-nav .nav-link {
    margin-right: 3vw;
    margin-left: 3vw;
}

.navbar {
    background-color: #d14806;
}

html body {
    background-color: #2e2727;
}

.light {
    color: #ccd3d9
}